BasedOnStyle: Chromium

AccessModifierOffset: -2
#AlignEscapedNewlinesLeft: false
#AllowAllParametersOfDeclarationOnNextLine: true
#AllowShortIfStatementsOnASingleLine: false
#AllowShortLoopsOnASingleLine: false
#AllowShortFunctionsOnASingleLine: false
#ConstructorInitializerAllOnOneLineOrOnePerLine: false
#ConstructorInitializerIndentWidth: 2


